<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{restaurant.name}}_Menu">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="query">
        </label>
    </div>
    <ion-content class="padding has-subheader">
        <div class="list card">
            <ion-list>
                <ion-item class="item item-thumbnail-left" ng-repeat="dish in menu.dishes | filter:query" href="#tab/dish/{{dish.id}}">
                    <img src="{{serverUrl}}/images/{{dish.image_urls[0]}}">
                    <h2>{{dish.name}}</h2>
                    <h2>${{dish.price}}</h2>
                    <div class="item-text-wrap">
                        {{dish.description}}
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>